@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tambahkan ke layer Tailwind jika ingin class khusus */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --card: #f9fafb;
}

:root[data-theme="dark"] {
  --bg: #0a0a0a;
  --text: #e5e7eb;
  --card: #1c1c1c;
}

:root[data-theme="sepia"] {
  --bg: #f4ecd8;
  --text: #3b3021;
  --card: #ede2c5;
}
